<div class="container_big-card">
  <a href="">
    <div class="big-card_img">
      <img src="https://t2.tudocdn.net/701253?w=824&h=494" />
    </div>
    <div class="big-card_title">
      <h2>Deadpool & Wolverine</h2>
    </div>
    <div class="big-card_descript">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium
        recusandae quos, unde debitis, obcaecati sequi voluptatum, ducimus
        officiis ipsa quibusdam similique praesentium necessitatibus facilis
        repellendus corrupti perferendis alias molestias neque.
      </p>
    </div>
  </a>
</div>
